<div class="page-content signup-finished">
  <div class="container">
    <div class="notify-box pure-g">
      <div class="icon-wrap pure-u-1 pure-u-md-1-5">
        <div class="round-icon icon-success"> </div>
      </div>
      <div class="info-wrap pure-u-1 pure-u-md-4-5">
        <h3>
          注册成功
          <span>注册时间：2015-05-01 00:00:00</span>
        </h3>
      </div>
    </div>
  </div>
</div>
