<div class="page-content credit-unapply">
  <div class="container">
    <div class="main-wrap">
      <div class="box">
        <div class="box-title pure-g">
          <div class="box-inner">
            <h2 class="pure-u-1">授信管理</h2>
          </div>
        </div><!-- /box-title -->

        <div class="info-wrap">
          <p>
            你尚无资质认证信息<br />
            我们将在认证通过后为您授信
          </p>
          <div class="btn-wrap">
            <a href="/" class="btn">资质认证</a>
          </div>
        </div>

      </div>
    </div><!-- /main-wrap -->
  </div>
</div>
