<div class="page-content repayment">
  <div class="container">
    <h2 class="page-title">还款登记</h2>
    <div class="form-wrap repayment-form pure-g">
      <form action="action" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        <h4 class="pure-u-1">请上传付款凭证或证明照片（网上转账请将转账记录截图）<span>资料请包含清晰的付款人、收款人和金额信息</span></h4>
        <div class="pure-u-1">
          <ul>
            <li class="pure-u-1 pure-u-md-1-5">
              <a href="/" class="btn-upload">点击上传</a>
            </li>
          </ul>
        </div>
        <div class="input-field pure-u-1">
          <button class="btn btn-save">确认-提交</button>
        </div>
      </form>
    </div><!-- /form-wrap -->
  </div>
</div>
