<div class="page-content project-detail">
  <div class="container">
    <h2 class="page-title">融资项目详情</h2>
    <div class="main-wrap">
      <div class="box">
        <div class="box-title">
          <div class="box-inner pure-g">
            <div class="project-id pure-u-1 pure-u-md-1-5">
              项目编号：000000000
            </div>
            <div class="project-created pure-u-1 pure-u-md-1-5">
              2015-05-01 00:00:00
            </div>
            <div class="pure-u-md-1-5"> </div>
            <div class="project-amount pure-u-1 pure-u-md-1-5">
              000,000,000.00
            </div>
            <div class="project-cycle pure-u-1 pure-u-md-1-5">
              还款周期
            </div>
          </div>
        </div><!-- /box-title -->
        <div class="project-status box-inner ">
          <ul>
            <li class="last-status pure-g">
              <div class="status-title pure-u-1 pure-u-md-1-8">
                项目最新进度
              </div>
              <div class="pure-u-1 pure-u-md-7-8">
                <div class="timestamps pure-u-1 pure-u-md-1-5">
                  <span>2015-05-01 00:00:00</span>
                </div>
                <div class="project-desc pure-u-1 pure-u-md-3-5">
                  项目说明项目说明项目说明项目说明项目说明
                </div>
                <div class="status-actions pure-u-1 pure-u-md-1-8">
                  <a href="/" class="btn btn-fun">功能</a>
                  <a href="/" class="btn btn-fun">功能</a>
                </div>
              </div>
            </li>
            <li class="pure-g">
              <div class="status-title pure-u-1 pure-u-md-1-8">
                <div class="participant">
                  <h4>投资方</h4>
                  <p>投资方投资方投资方投资方投资方</p>
                  <h4>融资方</h4>
                  <p>投资方投资方投资方投资方投资方</p>
                </div>
              </div>
              <div class="status-title pure-u-1 pure-u-md-7-8">
                <ul class="status-list">
                  <li class="pure-g">
                    <span class="timestamps pure-u-1 pure-u-md-1-5">2015-05-01 00:00:00</span>
                    <span class="status-info pure-u-1 pure-u-md-3-5">项目最新进度项目最新进度项目最新进度项目最新进度</span>
                  </li>
                  <li class="pure-g">
                    <span class="timestamps pure-u-1 pure-u-md-1-5">2015-05-01 00:00:00</span>
                    <span class="status-info pure-u-1 pure-u-md-3-5">项目最新进度项目最新进度项目最新进度项目最新进度</span>
                  </li>
                  <li class="pure-g">
                    <span class="timestamps pure-u-1 pure-u-md-1-5">2015-05-01 00:00:00</span>
                    <span class="status-info pure-u-1 pure-u-md-3-5">项目最新进度项目最新进度项目最新进度项目最新进度</span>
                  </li>
                  <li class="pure-g">
                    <span class="timestamps pure-u-1 pure-u-md-1-5">2015-05-01 00:00:00</span>
                    <span class="status-info pure-u-1 pure-u-md-3-5">项目最新进度项目最新进度项目最新进度项目最新进度</span>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div><!-- /box -->

      <div class="box">
        <div class="car-current-status pure-g">
          <div class="pure-u-1 pure-u-md-2-5">
            <h3>车辆当前状态</h3>
            <span class="current-status">车辆当前状态车辆当前状态车辆当前状态</span>
          </div>
          <div class="pure-u-1 pure-u-md-2-5">
            <div class="pure-g">
              <div class="label pure-u-1-2 pure-u-md-2-5">
                <span>车辆进场时间</span>
              </div>
              <div class="info pure-u-1-2 pure-u-md-3-5">
                <span>2015-05-01 00:00:00</span>
              </div>
              <div class="label pure-u-1-2 pure-u-md-2-5">
                <span>入库时长</span>
              </div>
              <div class="info pure-u-1-2 pure-u-md-3-5">
                <span>00天00时00分</span>
              </div>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-5">
            <div class="pure-g">
              <div class="btn-wrap pure-u-1-2">
                <div class="v-split"> </div>
                <div class="btn btn-out">
                  <div class="square">
                  </div>
                  <div class="icon">
                    <svg width="24" height="24" viewBox="0 0 512 512">
                      <path xmlns="http://www.w3.org/2000/svg" fill="#FFF" d="M288 124.186v-124.186l192 192-192 192v-126.912c-223.375-5.241-213.794 151.896-156.93 254.912-140.356-151.707-110.55-394.785 156.93-387.814z"/>
                    </svg>
                  </div>
                  <span>临时出库申请</span>
                </div>
              </div>
              <div class="btn-wrap pure-u-1-2">
                <div class="v-split"> </div>
                <div class="btn btn-report">
                  每日车报
                </div>
              </div>
            </div>
          </div>
        </div><!-- /car-current-status -->
        <ul class="car-status">
          <li>
            <span>车辆当前状态车辆当前状态</span>
            <span class="timestamps">2015-05-01 00:00:00</span>
          </li>
          <li>
            <span>车辆当前状态车辆当前状态车辆当前状态</span>
            <span class="timestamps">2015-05-01 00:00:00</span>
          </li>
          <li>
            <span>车辆当前状态车辆当前状态车辆当前状态</span>
            <span class="timestamps">2015-05-01 00:00:00</span>
          </li>
          <li>
            <span>车辆当前状态车辆当前状态车辆当前状态</span>
            <span class="timestamps">2015-05-01 00:00:00</span>
          </li>
        </ul>
      </div><!-- /box -->

      <div class="box">
        <div class="pure-g car-detail">
          <div class="pure-u-1 pure-u-md-1-8">
            <div class="label">
              车辆名称
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-7-8">
            <div class="info">
              车辆名称车辆名称车辆名称
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-8">
            <div class="label">
              上牌年份
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-3-8">
            <div class="info">
              上牌年份上牌年份上牌年份
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-8">
            <div class="label">
              已行驶里程（公里）
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-3-8">
            <div class="info">
              上牌年份上牌年份上牌年份
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-8">
            <div class="label">
              收购价格
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-3-8">
            <div class="info">
              上牌年份上牌年份上牌年份
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-8">
            <div class="label">
              发动机号
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-3-8">
            <div class="info">
              上牌年份上牌年份上牌年份
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-8">
            <div class="label">
              车牌号
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-3-8">
            <div class="info">
              上牌年份上牌年份上牌年份
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-8">
            <div class="label">
              车驾号
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-3-8">
            <div class="info">
              上牌年份上牌年份上牌年份
            </div>
          </div>

          <div class="h-split"> </div>

          <div class="car-proof pure-u-1">
            <div class="box-inner">
              <h2>相关资料</h2>

              <div class="proof-img imgs-list">
                <h3 class="pure-g">
                  <span class="pure-u-1">
                    车辆证明文件
                  </span>
                </h3>
                <ul class="thum-list pure-g">
                  <li class="pure-u-1-2 pure-u-md-1-6">
                    <div class="thum-wrap">
                    </div>
                    <div class="file-name">
                      图片名称
                    </div>
                  </li>
                  <li class="pure-u-1-2 pure-u-md-1-6">
                    <div class="thum-wrap">
                    </div>
                    <div class="file-name">
                      图片名称
                    </div>
                  </li>
                </ul>
              </div>

              <div class="outward-img imgs-list">
                <h3 class="pure-g">
                  <span class="pure-u-1">
                    车辆外观照片
                  </span>
                </h3>
                <ul class="thum-list pure-g">
                  <li class="pure-u-1-2 pure-u-md-1-6">
                    <div class="thum-wrap">
                    </div>
                    <div class="file-name">
                      图片名称
                    </div>
                  </li>
                  <li class="pure-u-1-2 pure-u-md-1-6">
                    <div class="thum-wrap">
                    </div>
                    <div class="file-name">
                      图片名称
                    </div>
                  </li>
                </ul>
              </div>

              <div class="additional-img imgs-list">
                <h3 class="pure-g">
                  <span class="pure-u-1">
                    补充证明文件
                  </span>
                </h3>
                <ul class="thum-list pure-g">
                  <li class="pure-u-1-2 pure-u-md-1-6">
                    <div class="thum-wrap">
                    </div>
                    <div class="file-name">
                      图片名称
                    </div>
                  </li>
                  <li class="pure-u-1-2 pure-u-md-1-6">
                    <div class="thum-wrap">
                    </div>
                    <div class="file-name">
                      图片名称
                    </div>
                  </li>
                </ul>
              </div>

            </div><!-- /box-inner -->
          </div>

        </div>
      </div><!-- /box -->

    </div>
  </div>
</div>
