<div class="page-content user-notify">
  <div class="container pure-g">
    <h2 class="page-title pure-u-1">个人中心</h2>
    <div class="sidebar pure-u-1 pure-u-md-1-5">
      <div class="sidebar-inner">
        <div class="user-info">
          <div class="avatar">
          </div>
          <div class="username">username</div>
        </div>
        <div class="msg-count">
          <span>新动态</span>
          <span id="count">000</span>
        </div><!-- /user-info -->
        <div class="side-nav">
          <ul>
            <li>{{#link-to 'index'}}系统消息{{/link-to}}</li>
            <li>{{#link-to 'index'}}提醒{{/link-to}}</li>
            <li>{{#link-to 'index'}}使用记录{{/link-to}}</li>
            <li>{{#link-to 'index'}}账户信息查询{{/link-to}}</li>
            <li>{{#link-to 'index'}}账户信息修改{{/link-to}}</li>
            <li>{{#link-to 'index'}}公司形象设置{{/link-to}}</li>
            <li>{{#link-to 'index'}}密码修改{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div><!-- /sidebar -->
    <div class="content pure-u-1 pure-u-md-19-24">
      <h2 class="page-title">
        提醒
        <span>共 00 条，其中 00 条未读</span>
      </h2>
      <div class="tools-bar">
        <div class="inner">
          <a href="/" class="current">全部</a>
          <a href="/">出库</a>
          <a href="/">入库</a>
          <a href="/">临时出库</a>
          <a href="/">每日动态</a>
        </div>
      </div>
      <div class="notifications-list">
        <ul class="pure-g">
          <li>
            <div class="avatar pure-u-1 pure-u-md-1-12">
              <div class="avatar-wrap"></div>
            </div>
            <div class="pure-u-1 pure-u-md-4-5">
              <div class="username pure-u-1">
                用户名用户名用户名
                <span class="timestamps">2015-05-01 00:00:00</span>
              </div>
              <div class="info pure-u-1">车辆编号000000000项目名称更新状态到<span>新状态新状态</span></div>
            </div>
            <div class="actions pure-u-1-6 pure-u-md-1-12">
              <a href="/">查看</a>
            </div>
          </li>
          <li>
            <div class="avatar pure-u-1 pure-u-md-1-12">
              <div class="avatar-wrap"></div>
            </div>
            <div class="pure-u-1 pure-u-md-4-5">
              <div class="username pure-u-1">
                用户名用户名用户名
                <span class="timestamps">2015-05-01 00:00:00</span>
              </div>
              <div class="info pure-u-1">车辆编号000000000项目名称更新状态到<span>新状态新状态</span></div>
            </div>
            <div class="actions pure-u-1-6 pure-u-md-1-12">
              <a href="/">查看</a>
            </div>
          </li>
        </ul>
      </div>
    </div><!-- /content -->
  </div>
</div>
