<div class="page-content reset-password">
  <div class="container pure-g">
    <h2 class="page-title pure-u-1">个人中心</h2>
    <div class="sidebar pure-u-1 pure-u-md-1-5">
      <div class="sidebar-inner">
        <div class="user-info">
          <div class="avatar">
          </div>
          <div class="username">username</div>
        </div>
        <div class="msg-count">
          <span>新动态</span>
          <span id="count">000</span>
        </div><!-- /user-info -->
        <div class="side-nav">
          <ul>
            <li>{{#link-to 'index'}}系统消息{{/link-to}}</li>
            <li>{{#link-to 'index'}}提醒{{/link-to}}</li>
            <li>{{#link-to 'index'}}使用记录{{/link-to}}</li>
            <li>{{#link-to 'index'}}账户信息查询{{/link-to}}</li>
            <li>{{#link-to 'index'}}账户信息修改{{/link-to}}</li>
            <li>{{#link-to 'index'}}公司形象设置{{/link-to}}</li>
            <li>{{#link-to 'index'}}密码修改{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div><!-- /sidebar -->
    <div class="content pure-u-1 pure-u-md-19-24">
      <h2 class="page-title">密码修改</h2>
      <div class="form-wrap form-reset-pw pure-g">
        <form action="action" method="post" accept-charset="utf-8">
          <div class="input-field">
            <div class="pure-u-1-4 pure-u-md-1-6">
              <label for="ori-password">原密码</label>
            </div>
            <div class="pure-u-3-4 pure-u-md-5-6">
              <input type="password" name="ori-password"  id="ori-password"/>
            </div>
          </div>
          <div class="input-field">
            <div class="pure-u-1-4 pure-u-md-1-6">
              <label for="new-password">新密码</label>
            </div>
            <div class="pure-u-3-4 pure-u-md-5-6">
              <input type="password" name="new-password"  id="new-password"/>
            </div>
          </div>
          <div class="input-field">
            <div class="pure-u-1-4 pure-u-md-1-6">
              <label for="password-confirmation">密码确认</label>
            </div>
            <div class="pure-u-3-4 pure-u-md-5-6">
              <input type="password" name="password-confirmation"  id="password-confirmation"/>
            </div>
          </div>
          <div class="input-field">
            <div class="pure-u-1-4 pure-u-md-1-6">
            </div>
            <div class="pure-u-3-4 pure-u-md-5-6">
              <button class="btn btn-save">保存-提交</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /content -->
  </div>
</div>
