<div class="page-content reset-password">
  <div class="container pure-g">
    <h2 class="page-title pure-u-1">个人中心</h2>
    <div class="sidebar pure-u-1 pure-u-md-1-5">
      <div class="sidebar-inner">
        <div class="user-info">
          <div class="avatar">
          </div>
          <div class="username">username</div>
        </div>
        <div class="msg-count">
          <span>新动态</span>
          <span id="count">000</span>
        </div><!-- /user-info -->
        <div class="side-nav">
          <ul>
            <li>{{#link-to 'index'}}系统消息{{/link-to}}</li>
            <li>{{#link-to 'index'}}提醒{{/link-to}}</li>
            <li>{{#link-to 'index'}}使用记录{{/link-to}}</li>
            <li>{{#link-to 'index'}}账户信息查询{{/link-to}}</li>
            <li>{{#link-to 'index'}}账户信息修改{{/link-to}}</li>
            <li>{{#link-to 'index'}}公司形象设置{{/link-to}}</li>
            <li>{{#link-to 'index'}}密码修改{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div><!-- /sidebar -->
    <div class="content pure-u-1 pure-u-md-19-24">
      <h2 class="page-title">公司形象设置</h2>
      <div class="form-wrap form-set-com pure-g">
        <h4 class="pure-u-1">您可以设置您公司的形象</h4>
        <div class="pure-u-1 pure-u-md-1-4">
          <div class="company-logo">
            <div class="logo-wrap img-upload">
              <div class="upload-message"></div>
              <img class="preview" src="" />
              <label for="company-logo">
                <span>点击上传</span>
              </label>
              <input id="company-logo" name="company-logo" type="file" onchange="HF.upyun.upload(this)" />
              <input class="img-url" type="hidden" value="" name="logopath" />
            </div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <form action="action" method="post" accept-charset="utf-8">
            <div class="com-full-name pure-u-1">
              您的公司全称：广东红方投资有限公司
            </div>
            <div class="tip pure-u-1">
              如需修改公司名称，请致电红方
            </div>
            <div class="input-field">
              <input type="text" name="company-sort" id="company-sort" placeholder="请输入公司的简称或缩写" />
            </div>
            <div class="input-field">
              <div class="pure-u-1 pure-u-md-2-3">
                <button class="btn btn-save">保存-提交</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- /content -->
  </div>
</div>
