<div class="page-content car-show">
  <div class="container">
    <h2 class="page-title">车辆详情</h2>
    <div class="box">
      <div class="pure-g car-detail">
        <div class="box-inner">
          <div class="pure-u-1 name-info">
            <span class="car-name">
              车辆名称车辆名称车辆名称
            </span>
            <span class="company-name">
              公司名公司名公司名
            </span>
          </div>
          <div class="pure-u-1 pure-u-md-1-8">
            <div class="label text-left">
              上牌年份
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-6">
            <div class="info">
              上牌年份上牌年份
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-5-24">
            <div class="label">
              已行驶里程（公里）
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-6">
            <div class="info">
              5000000KM
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-8">
            <div class="label">
              车牌号
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-6">
            <div class="info">
              粤A12345
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-8">
            <div class="label text-left">
              收购价格
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-6">
            <div class="info">
              120,000.00RMB
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-5-24">
            <div class="label">
              发动机号
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-6">
            <div class="info">
              上牌年份上牌年份上牌年份
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-8">
            <div class="label">
              车驾号
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-6">
            <div class="info">
              上牌年份上牌年份上牌年份
            </div>
          </div>
        </div>

        <div class="h-split"> </div>

        <div class="car-proof pure-u-1">
          <div class="box-inner">
            <h2>相关资料</h2>

            <div class="proof-img imgs-list">
              <h3 class="pure-g">
                <span class="pure-u-1">
                  车辆证明文件
                </span>
              </h3>
              <ul class="thum-list pure-g">
                <li class="pure-u-1-2 pure-u-md-1-6">
                  <div class="thum-wrap">
                  </div>
                  <div class="file-name">
                    图片名称
                  </div>
                </li>
                <li class="pure-u-1-2 pure-u-md-1-6">
                  <div class="thum-wrap">
                  </div>
                  <div class="file-name">
                    图片名称
                  </div>
                </li>
              </ul>
            </div>

            <div class="outward-img imgs-list">
              <h3 class="pure-g">
                <span class="pure-u-1">
                  车辆外观照片
                </span>
              </h3>
              <ul class="thum-list pure-g">
                <li class="pure-u-1-2 pure-u-md-1-6">
                  <div class="thum-wrap">
                  </div>
                  <div class="file-name">
                    图片名称
                  </div>
                </li>
                <li class="pure-u-1-2 pure-u-md-1-6">
                  <div class="thum-wrap">
                  </div>
                  <div class="file-name">
                    图片名称
                  </div>
                </li>
              </ul>
            </div><!-- /outward-img -->

            <div class="additional-img imgs-list">
              <h3 class="pure-g">
                <span class="pure-u-1">
                  补充证明文件
                </span>
              </h3>
              <ul class="thum-list pure-g">
                <li class="pure-u-1-2 pure-u-md-1-6">
                  <div class="thum-wrap">
                  </div>
                  <div class="file-name">
                    图片名称
                  </div>
                </li>
                <li class="pure-u-1-2 pure-u-md-1-6">
                  <div class="thum-wrap">
                  </div>
                  <div class="file-name">
                    图片名称
                  </div>
                </li>
              </ul>
            </div><!-- /additional-img -->

          </div>
        </div><!-- car-proof -->

      </div>
    </div><!-- /box -->

  </div>
</div>
