<div class="page-content financing-upload">
  <div class="container">
    <h2 class="page-title">资质认证</h2>
    <div class="box">
      <div class="box-title">
        <h3>上传资料</h3>
        <p class="desc">您上传资料的完整性将影响您的授信金额，请将资料尽可能地补充完整，我们将对您的资料进行评估，以确定您的授信金额</p>
      </div>
      <div class="form-wrap apply-form pure-g">
        <div class="pure-u-1">
          <form action="action" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <div class="imgs-list">
              <h4 class="pure-g">
                <span class="pure-u-1 pure-u-md-1-5">
                  法人资料
                </span>
                <span class="desc pure-u-1 pure-u-md-4-5">
                  请正确上传法人相关资料照片
                </span>
              </h4>
              <ul class="corporate-info thum-list pure-g">
                <li class="pure-u-1-2 pure-u-md-1-6">
                  <div class="thum-wrap">
                  </div>
                  <div class="img-type">
                    照片类型
                  </div>
                  <div class="file-name">
                    文件名：<span>文件名.png</span>
                  </div>
                </li>
                <li class="pure-u-1-2 pure-u-md-1-6"><a href="/" class="btn-upload">+</a></li>
              </ul>
            </div>

            <div class="imgs-list">
              <h4 class="pure-g">
                <span class="pure-u-1 pure-u-md-1-5">
                  公司资料
                </span>
                <span class="desc pure-u-1 pure-u-md-4-5">
                  请根据要求上传对应公司资料证明文件
                </span>
              </h4>
              <ul class="company-info thum-list pure-g">
                <li class="pure-u-1-2 pure-u-md-1-6">
                  <div class="thum-wrap">
                  </div>
                </li>
                <li class="pure-u-1-2 pure-u-md-1-6"><a href="/" class="btn-upload">+</a></li>
              </ul>
            </div>

            <div class="imgs-list">
              <h4 class="pure-g">
                <span class="pure-u-1 pure-u-md-1-5">
                  尽职调查文件清单
                </span>
              </h4>
              <ul class="inv-file-info thum-list pure-g">
                <li class="pure-u-1-2 pure-u-md-1-6">
                  <div class="thum-wrap">
                  </div>
                </li>
                <li class="pure-u-1-2 pure-u-md-1-6"><a href="/" class="btn-upload">+</a></li>
              </ul>
            </div>

            <div class="input-field">
              <div class="pure-u-1-5">
              </div>
              <div class="pure-u-3-5">
                <button class="btn btn-save">保存并进行下一步</button>
              </div>
            </div>
          </form>
        </div>
      </div><!-- /form-wrap -->
    </div>
  </div>
</div>
