<div class="page-content apply-finished">
  <div class="container">
    <h2 class="page-title">资质认证</h2>
    <div class="box">
      <div class="box-inner pure-g">
        <div class="icon-wrap pure-u-1 pure-u-md-1-3">
          <div class="round-icon icon-success"> </div>
        </div>
        <div class="info-wrap pure-u-1 pure-u-md-2-3">
          <h3>
            申请认证成功
            <span>申请时间：2015-05-01 00:00:00</span>
          </h3>
          <p>红方将在1小时内回复您的申请结果，并通过邮件和电话联系您。认证成功后，红方将为您进行基础授信，请耐心等待</p>
          <p class="notify">
            10秒钟后页面将自动跳转至资质管理页面<br />
            <span class="desc">如未自动跳转请选择手动点击，您还可以选择</span>
          </p>
          <div class="btn-wrap">
            <a href="/" class="btn">返回主页</a>
            <a href="/" class="btn">资质管理</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
