<div class="page-content qualification-unapply">
  <div class="container">
    <div class="main-wrap">

      <div class="box">
        <div class="box-title pure-g">
          <div class="box-inner">
            <h2 class="pure-u-1">资质管理</h2>
          </div>
        </div><!-- /box-title -->

        <div class="info-wrap">
          <p>
            你尚未进行资质认证
          </p>
          <div class="btn-wrap">
            <a href="/" class="btn">资质认证</a>
          </div>
        </div>
      </div>

      <div class="l-box">
        <div class="info-wrap">
          <h4>暂无您的资质信息</h4>
          <p>
            请先进行资质认证，待通过后刷新页面<br />
            若依然无法显示，请联系红方
          </p>
        </div>
      </div>

    </div><!-- /main-wrap -->
  </div>
</div>
