<div class="footer">
  <div class="container">
    <p>广东红方投资有限公司  最佳分辨率 1280x800  建议使用 Chrome、Firefox、Safari、IE9+ 版本浏览器。</p>
    <p>合作机构：广东银鼎担保有限公司 广东红方律师事务所 &copy; 2015 红方投资 All rights reserved</p>
  </div>
</div>
<div class="loader" id="loader">
  <div class="loader-inner">
    <div class="loading ball-pulse-sync">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
