<div class="top-desc">
  <div class="container">
    <span>红方投资旗下平台</span>
  </div>
</div>
<div class="header">
  <div class="container pure-g">
    <div class="pure-u-1 pure-u-md-1-5">
      {{#link-to 'index'}}
        <img src="assets/images/hf_logo.png" class="logo" alt="红方金融"/>
      {{/link-to}}
    </div>
    <div class="pure-u-1 pure-u-md-4-5">
      <div class="btn btn-show-nav">
        <span></span>
      </div>
      <ul id="main-nav" class="main-nav ">
        <li><a href="/">主页</a></li>
        <li><a href="/">融资项目管理</a></li>
        <li><a href="/">授信管理</a></li>
        <li><a href="/">资质管理</a></li>
        <li class="current"><a href="/">车标申请</a></li>
        <li class="drop-down">
          <div class="drop-title">
            <span>欢迎</span>
            <span class="username">用户名</span>
          </div>
          <div class="sub-menu">
            <ul>
              <li><a href="/">个人中心</a></li>
              <li><a href="/">消息</a></li>
              <li><a href="/">账户</a></li>
              <li><a href="/">更改账户</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
